### jetbrains ###
*.iml
.idea

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
.mypy_cache

# dependencies
/node_modules
/.pnp
.pnp.js
dist/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build